@use '../App.scss';

@font-face {
  font-family: 'Silka';
  src: url('../Fonts/Silka-Regular.otf');
}

$font-style: 'Silka';

.elements-position {
  font-family: $font-style;
  display: flex;
  color: var(--font-color);
  flex-direction: column;
  align-items: center;
}
.icon-position {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  color: var(--font-color);
  padding-top: 0.5rem;
}
