* {
  font-family: 'Silka';
}

@font-face {
  font-family: 'Silka';
  src: url('../Fonts/Silka-Regular.otf');
}

.MuiTableContainer-root {
  width: 70%;
  box-shadow: var(--box-shadow);
}

.table-position {
  display: flex;
  justify-content: center;
}

.table-color {
  background-color: red;
  color: white;
}
.header-row {
  th {
    font-weight: bold;
  }
}
.header {
  width: 100%;
  height: 3.5rem;
  display: flex;

  justify-content: space-around;
  padding-left: 1rem;
}

.table-title {
  padding-top: 1.8rem;
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: flex-end;
}

.search-icon {
  padding-right: 0.5rem;
}
