@use '../App.scss';

* {
  font-family: 'Silka';
}

@font-face {
  font-family: 'Silka';
  src: url('../Fonts/Silka-Regular.otf');
}

.MuiTableContainer-root {
  width: 70%;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  table {
    tbody {
      tr {
        td {
          color: var(--font-color);
        }
      }
    }
  }
}

.table-position {
  display: flex;
  justify-content: center;
}

.header-row {
  th {
    font-weight: bold;
    color: var(--font-color);
  }
}
.table {
  background-color: var(--container-background-color);
  color: var(--font-color);
}
.header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  background-color: var(--container-background-color);
}

.table-title {
  padding-top: 1.8rem;
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: flex-end;
  padding: 8px;
  margin-right: 32px;
}

.search-icon {
  padding-right: 0.5rem;
}

.MuiToolbar-root {
  background-color: var(--container-background-color);
  color: var(--font-color);
}

.label {
  color: red;
}

.MuiInput-underline:before {
  border-bottom: 2px solid var(--font-color);
}
