@use '../App.scss';

@font-face {
  font-family: 'Silka';
  src: url('../Fonts/Silka-Regular.otf');
}

$font-style: 'Silka';

.footer-container {
  font-family: $font-style;
  display: flex;
  justify-content: center;
  color: var(--font-color);
}
